.footer
  %ul.bottom-menu
    %li.menu-item= link_to( "News", "/news/" )
    %li.menu-item= link_to( "Agenda", "/agenda/" )
    -# %li.menu-item= link_to( "Wargame", "/wargame/" )
    %li.menu-item= link_to( "Location", "/location/" )
    %li.menu-item= link_to( "Registration", "/registration/" )
    %li.menu-item= link_to( "Sponsor", "/sponsor/" )
    -# %li.menu-item= link_to( "History", "http://hitcon.org/archive.htm" )
    -# %li.menu-item= link_to( "Album", "http://photo.hitcon.org" )
    -# %li.menu-item= link_to( "Facebook", "http://fb.com/hitcon" )

  / .slogan
  %ul.credit
    %li= link_to "台灣資料科學愛好者協會", "#"
    %li= link_to "Designed by evendesign", "http://evendesign.tw"

